{% extends "base.html" %}

{% block head %}
<link type="text/css" rel="stylesheet" href="{{ url_for('static', filename = 'css/timeline.css') }}">
{% endblock %}

{% block body %}
<!-- <div class="toTop">Back to Top</div> -->
<div class="container">
    <div class="row">
        <div class="col s12 m4 l8">
            <div class="col s12 m4 l8">
                <span class="date">2021</span>
                <ul class="timeline-event">
                    <li>
                        <div class="icon-title">
                            <i class="tiny material-icons">book</i>
                            <a href="https://courses.edx.org/courses/course-v1:UBCx+HtC1x+2T2017/course/" class="title">How to Code: Simple Data</a>
                        </div>
                        <span class="content">
                            This course introduces some of the fundamental design methods used in programming which can be utilized to break down very complex programs into 
                            manageable pieces. They teach function design, data design and also provide a robust method to use recursion (which I've always struggled with). 
                            Although this course is targeted at beginners, self taught programmers like myself have much to gain from this seemingly basic course.</span>
                    </li>
                </ul>
                <span class="date">2020</span>
                <ul class="timeline-event">
                    <li>
                        <div class="icon-title">
                            <i class="tiny material-icons">school</i>
                            <a href="https://kaist.ac.kr/en/" class="title">Started University at Korea Advanced Institute of Science and Technology!</a>
                        </div>
                        <span class="content">
                            Began my undergrad journey at KAIST in Fall '20. Onto the next chapter of my life!</span>
                    </li>
                    <li>
                        <div class="icon-title">
                            <i class="tiny material-icons">book</i>
                            <a href="https://cs50.harvard.edu/ai/" class="title">CS50 AI</a>
                        </div>
                        <span class="content">
                            Great course that is an amazing first taste of the current state of Artificial Intelligence in programming. The projects were amazing 
                            and insightful and I learned a lot. Definitely inspired a lot of projects!</span>
                    </li>
                    <li>
                        <div class="icon-title">
                            <i class="tiny material-icons">book</i>
                            <a href="https://www.edx.org/course/using-python-for-research" class="title">Using Python for Research - PH526x</a>
                        </div>
                        <span class="content">Got a good taste of the extent to which Python can be used to study and visualize data while working with pandas, numpy and scipy (Also my first taste of generating predictions using AI!)</span>
                    </li>
                    <li>
                        <div class="icon-title">
                            <i class="tiny material-icons">work</i>
                            <span class="title">Tutoring Gig</span>
                        </div>
                        <span class="content">
                            Back to back firsts! Got my first real job as a private tutor. I teach A level Maths, Physics and Chemistry. It's great being able to make my own money
                            and it's also a great refresher to the concepts I studied during A levels
                        </span>
                    </li>
                    <li>
                        <div class="icon-title">
                            <i class="tiny material-icons">flight_takeoff</i>
                            <span class="title">Malaysia Trip</span>
                        </div>
                        <span class="content">
                            Flew to Malaysia with a friend and spent New Year's there! This was my first international trip without my family and it definitely taught me
                            a lot about taking on responsibilities and planning trips. Talk about starting off the decade with a bang!
                        </span>
                    </li>
                </ul>

                <span class="date">2019</span>
                <ul class="timeline-event">
                    <li>
                        <div class="icon-title">
                            <i class="tiny material-icons">school</i>
                            <span class="title">Finished A Levels!</span>
                        </div>
                        <span class="content">After four pain staking years of hard work, finally finished O and A Levels and graduated high school with stellar grades!</span>
                    </li>
                    <li>
                        <div class="icon-title">
                            <i class="tiny material-icons">laptop</i>
                            <span class="title">NC Tech Club</span>
                        </div>
                        <span class="content">Participated in a coding club. Made some valuable connections, strengthened my coding foundations and learned a lot of important lessons</span>
                    </li>
                </ul>

                <span class="date">2018</span>
                <ul class="timeline-event">
                    <li>
                        <div class="icon-title">
                            <i class="tiny material-icons">code</i>
                            <span class="title">Practice</span>
                        </div>
                        <span class="content">Put my head down and cranked out project after project, testing out my new found coding skills. Most of them aren't any good but each of them made me a better coder</span>
                    </li>
                    <li>
                        <div class="icon-title">
                            <i class="tiny material-icons">stars</i>
                            <span class="title">Edexcel High Achievers Award!</span>
                        </div>
                        <span class="content">Got the Edexcel High Achievers Award for my performance in O Levels</span>
                    </li>
                    <li>
                        <div class="icon-title">
                            <i class="tiny material-icons">book</i>
                            <a href="https://www.edx.org/course/cs50s-web-programming-with-python-and-javascript" class="title">CS50W</a>
                        </div>
                        <span class="content">Dived deeper into web dev while doing the projects for this course. This course definitely dropped me in to the rabbit hole of web dev, and I love it</span>
                    </li>
                </ul>

                <span class="date">2017</span>
                <ul class="timeline-event">
                    <li>
                        <div class="icon-title">
                            <i class="tiny material-icons">book</i>
                            <a href="https://www.edx.org/course/cs50s-introduction-to-computer-science" class="title">CS50</a>
                        </div>
                        <span class="content">Started my coding journey by completing this online course offered by Harvard on edX</span>
                    </li>
                    <li>
                        <div class="icon-title">
                            <i class="tiny material-icons">school</i>
                            <span class="title">Finished O Levels!</span>
                        </div>
                        <span class="content">Completed O levels</span>
                    </li>
                </ul>
            </div>
        </div>
        <br>
        <br>
    </div>

    {% endblock %}
